<!-- Header -->
<header class="bg-white shadow-sm p-2 flex justify-between items-center z-10 relative">

<div class="text-xl font-bold text-brand-primary tracking-tight flex items-center gap-2">
    <span class="text-brand-accent">📍</span> FindMyCar
</div>

<button id="btn-abrir-menu" class="text-brand-primary p-2 rounded-lg hover:bg-brand-light/30 transition-colors">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
</button>

</header>