<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Javier Cabrera">
    <meta name="description" content="Encuentra tu coche con una sola app desde tu móvil - Proyecto realizado para la asignatura Interfaces Web">
    <meta name="keywords" content="FindMyCar, coche, car, parking, aparcamiento, app, móvil, proyecto, Interfaces Web, DAW, tailwind, leaflet, sweetalert2, localStorage, geolocalización">

    <title>FindMyCar | Encuentra tu coche</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="bg-gray-50 flex flex-col h-screen font-sans text-brand-dark overflow-hidden">

    <%- body %>
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/javascripts/auth-service.js"></script>
    <script src="/javascripts/interfaz.js"></script>
    <script src="/javascripts/mapa.js"></script>
    
</body>
</html>